@import  "https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap')";

html, body {
  height: 100%;
  margin: 0;
  position: relative; /* Ensures z-index takes effect for children */
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-end; 
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  line-height: 1.42857;
<<<<<<< HEAD
  font-size: 24px;
=======
  font-size: 16px;
>>>>>>> 2aca354 (idontevenknow)
  background-color: #eeeeee;
  color: #0F0F0F;
}

#bg-image {
  position: fixed; /* Absolute position this image */
  z-index: -1; /* Sends the image to the background */
  top: 50%; /* Center the image vertically */
  left: 40%; /* Center the image horizontally */
  width: 1024px; /* Set to desired width */
  height: 768px; /* Set to desired height */
  transform: translate(-50%, -50%); /* Use translate to center regardless of image size */
  max-width: 70%; /* Ensures image doesn't overflow the document */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* This will make sure your image covers the entire div, potentially cropping it */
}

h1 {
  margin-bottom: 0.4em;
}

section#content {
  text-align: right;
  padding-right: 10vw; /* maintain existing right padding */
  padding-top: 5vw; /* maintain existing top padding */
  padding-left: 20vw; /* add left padding of 30% of viewport width */
  margin-left: auto; /* pushes the content to the right */
  position: relative; /* ensure the stacking context */
  z-index: 2; /* make text appear above the image */
}

#email-icon i {
  color: #D3D3D3; /* This is a light grey. You can adjust the hex value to choose the shade you prefer. */
  font-size: 24px; /* You can adjust the size as you prefer */
  transition: color 0.5s ease-in-out; /* Adds a smooth color transition */
}

#email-icon:hover i {
  color: #0F0F0F; /* Darker grey color for hover effect. Adjust if necessary. */
}

.email-line {
  display: inline-block;
  position: relative;
  padding-bottom: 5px; /* Adjust space for the underline */
}

.email-line:after { /* Create the underline effect */
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

#email-icon:hover + .email-line:after {
  width: 100%;
  background: #D3D3D3; /* Same light grey as the icon */
}

a,a:visited,a:active,a:hover {
  color: #FFF;
  text-decoration: underline;
}

section {
  align-self: right;
  padding-bottom: 10px;
  position: relative;
}

.bg-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

@media all and (min-width:481px) {
  p {
    font-size: 24px;
  }

  h1 {
    font-size: 24px;
  }
}

@media all and (min-width:769px) {
  p {
    font-size: 32px;
  }

  h1 {
    font-size: 32px;
  }
}
